In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-07-06 14:47:55,55.7435,-97.8558,64.56,55,75,6.91
1,1,Maragogi,BR,2022-07-06 14:47:56,-9.0122,-35.2225,78.82,80,19,11.50
2,2,Vaini,TO,2022-07-06 14:47:57,-21.2000,-175.2000,71.76,83,75,8.05
3,3,Usinsk,RU,2022-07-06 14:47:59,65.9939,57.5281,77.67,49,9,8.66
4,4,Healdsburg,US,2022-07-06 14:48:00,38.6105,-122.8692,63.90,80,100,4.61

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# General Syntax for HeatMap

1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
6. Call the figure to plot the data.
fig

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = [max(temp,0) for temp in max_temp]

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
#fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Maragogi,BR,2022-07-06 14:47:56,-9.0122,-35.2225,78.82,80,19,11.50
3,3,Usinsk,RU,2022-07-06 14:47:59,65.9939,57.5281,77.67,49,9,8.66
5,5,Faya,SA,2022-07-06 14:48:01,18.3851,42.4509,82.51,25,82,10.58
9,9,Albany,US,2022-07-06 14:48:03,42.6001,-73.9662,76.37,74,96,1.01
11,11,Bethel,US,2022-07-06 14:47:02,41.3712,-73.4140,84.56,65,40,10.36
14,14,Oeiras Do Para,BR,2022-07-06 14:48:04,-2.0031,-49.8544,89.38,49,4,4.61
15,15,Bathsheba,BB,2022-07-06 14:48:05,13.2167,-59.5167,86.05,79,20,20.71
23,23,Sao Joao Da Barra,BR,2022-07-06 14:48:09,-21.6403,-41.0511,80.69,57,0,13.24
27,27,Sehithwa,BW,2022-07-06 14:48:11,-20.4667,22.7167,79.39,20,6,8.32
30,30,Pedasi,PA,2022-07-06 14:48:12,7.5333,-80.0333,84.07,78,97,5.91

In [18]:
preferred_cities_df.count()

City_ID       218
City          218
Country       217
Date          218
Lat           218
Lng           218
Max Temp      218
Humidity      218
Cloudiness    218
Wind Speed    218
dtype: int64

In [21]:
preferred_cities_df = preferred_cities_df.dropna()

In [22]:
preferred_cities_df.count()

City_ID       217
City          217
Country       217
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat      Lng Hotel Name
1            Maragogi      BR     78.82  -9.0122 -35.2225
3              Usinsk      RU     77.67  65.9939  57.5281
5                Faya      SA     82.51  18.3851  42.4509
9              Albany      US     76.37  42.6001 -73.9662
11             Bethel      US     84.56  41.3712 -73.4140
14     Oeiras Do Para      BR     89.38  -2.0031 -49.8544
15          Bathsheba      BB     86.05  13.2167 -59.5167
23  Sao Joao Da Barra      BR     80.69 -21.6403 -41.0511
27           Sehithwa      BW     79.39 -20.4667  22.7167
30             Pedasi      PA     84.07   7.5333 -80.0333

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Maragogi,BR,78.82,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
3,Usinsk,RU,77.67,65.9939,57.5281,Dobro Pozhalovaty
5,Faya,SA,82.51,18.3851,42.4509,املاك خالد الشعشوع
9,Albany,US,76.37,42.6001,-73.9662,
11,Bethel,US,84.56,41.3712,-73.4140,Courtyard by Marriott Danbury
14,Oeiras Do Para,BR,89.38,-2.0031,-49.8544,Araticu Soft Hotel
15,Bathsheba,BB,86.05,13.2167,-59.5167,Atlantis Hotel
23,Sao Joao Da Barra,BR,80.69,-21.6403,-41.0511,Pousada Porto De Canoas
27,Sehithwa,BW,79.39,-20.4667,22.7167,MONLEK GUEST HOUSE
30,Pedasi,PA,84.07,7.5333,-80.0333,Hotel Casa de Campo Pedasí

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))