## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Nantucket,US,77.11,overcast clouds,41.2835,-70.0995,Nantucket
1,6,Lazaro Cardenas,MX,88.88,scattered clouds,17.9583,-102.2000,Lázaro Cárdenas
2,8,Bud,US,76.19,overcast clouds,39.4470,-86.1758,Trafalgar
3,9,Cuicatlan,MX,87.85,overcast clouds,17.8000,-96.9667,San Juan Bautista Cuicatlán
4,10,Naze,JP,77.92,overcast clouds,28.3667,129.4833,Amami

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Sape")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Sape")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Itamaraca")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Olinda")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Maragogi")]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,196,Itamaraca,BR,78.85,light rain,-7.7478,-34.8256,Ilha de Itamaracá

In [30]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np
start = vacation_start[["Lat", "Lng"]].to_numpy()
start_index = (start[0][0], start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end_index = (end[0][0], end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1_index = (stop1[0][0], stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2_index = (stop2[0][0], stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3_index = (stop3[0][0],stop3[0][1])

print(start_index)
print(end_index)
print(stop1_index)
print(stop2_index)
print(stop3_index)

(-7.0964, -35.2328)
(-7.0964, -35.2328)
(-7.7478, -34.8256)
(-8.0089, -34.8553)
(-9.0122, -35.2225)

In [33]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1_index, stop2_index, stop3_index]

# Latitude-longitude pairs
# (-7.0964, -35.2328)
# (-7.0964, -35.2328)
# (-7.7478, -34.8256)
# (-8.0089, -34.8553)
# (-9.0122, -35.2225)

fig = gmaps.figure()
Trip = gmaps.directions_layer(start_index, end_index, waypoints, travel_mode = 'DRIVING')
fig.add_layer(Trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,219,Sape,BR,76.01,overcast clouds,-7.0964,-35.2328,Sapé
1,219,Sape,BR,76.01,overcast clouds,-7.0964,-35.2328,Sapé
2,196,Itamaraca,BR,78.85,light rain,-7.7478,-34.8256,Ilha de Itamaracá
3,26,Olinda,BR,80.33,scattered clouds,-8.0089,-34.8553,Recife
4,313,Maragogi,BR,76.44,clear sky,-9.0122,-35.2225,Maragogi

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))